/* this is an example of inheritance from the top. all the children of the body will inhert font size and weight
unless they are individually changed on a particular element or selector */
/* example of the use of a gradient in the background */
section {
  /* an example of inheritance. all child tags of the section will do what
  is in these properties */
  text-align: center;
  padding: 30px 0 30px 0;
}

img {
  margin-bottom: 30px;
}

h3 {
  color: #e9a92f;
  font-family: 'Amble-Light-webfont', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  padding-bottom: 30px;
}

h4 {
  font-family: "Amble-Bold-webfont", sans-serif;
  margin-bottom: 15px;
}

.cap {
  font-family: 'Petit Formal Script', cursive;
  font-weight: 400;
  font-size: 1.5em;
  /* example of kerning applied between the 'W' and 'e' in Welcome to
  correct the spacing, as it was to wide */
  letter-spacing: -3px;
}

p {
  /* an example of using line height to give body text a bit more breahing room */
  line-height: 1.5em;
  text-align: left;
  margin-bottom: 15px;
}

.column1 {
  /* an example of the use of a float */
  width: 40%;
  float: left;
  /* an example of the use of margin left to create space on the left
  side of the float to pull it off of the left side of the browser */
  margin-left: 10%;
}

.column2 {
  width: 40%;
  float: left;
  margin-left: 5%;
}

.price {
  margin-bottom: 30px;
}

footer {
  /* an example of clearing the floats above so the footer goes below
  floated areas and to the bottom of the page of content */
  clear: both;
}
