/* mixins */

@mixin box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin body {
	margin: 0;
	padding: 0;
	width: 100%;
}

@mixin heading-font {
	font-family: 'Lobster', cursive;
	font-weight: 400;
}