/* mixins */

@mixin body {
	margin: 0;
	padding: 0;
	width: 100%;
}

@mixin box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin layout {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 25%;
	margin-right: 25%;
}

@mixin article_p {
	font: {
		family: $font-serif;
		size: .9em;
		weight: 400;
	}
	line-height: 1.1em;
}

@mixin h1 {
	font: {
		family: $font-sans;
		size: 1.5em;
		weight: 700;
	}
	color: $text-color;
	text-align: center;
}

@mixin h2 {
	font: {
		family: $font-sans;
		size: .6em;
		weight: 400;
	}
	color: $text-color;
	text-align: center;
}