/* stylesheet */

// import other files

@import "variables.scss";
@import "mixins.scss";

body {
	@include body;
}

*, *:before, *:after {
	@include box-sizing;
}

.background {
	background-image: url(../images/ricepaper_v3.png);
	background-repeat: repeat;
	background-size: cover;
}

header {
	height: 50px;
	border-bottom: 1px solid rgb(93,40,0);
	background-color: $background-color;
	-webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.36);
	box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.36);
}

nav {
	float: right;
	margin-right: 50px;
	font-family: $font-sans;
	font-weight: 600;
	font-size: .8em;
}

ul {
	padding-top: 15px;
}

li {
	list-style-type: none;
	display: inline;
	padding: 15px;
	text-transform: uppercase;
}

.img_1, .img_2 {
	clear: both;
	text-align: center;
	margin-top: 30px;
}

.img_3 {
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	
}

h1 {
	@include h1;
	margin-top: 30px;
}

h2 {
	@include h2;
	padding-top: 7px;
}

span {
	text-weight: 700;
}

article p {
	@include article_p;
	@include layout;
}

aside {
	@include layout;
	color: $text-color;
	font-family: $font-sans;
	font-size: .8em;
	font-weight: 600;
}

/* navigation links */
a  {
	text-decoration: none;
}

a:link  {
	color: rgb(255,250,227);
}

a:visited  {
	color: rgb(242,239,224);
}

a:hover  {
	color: rgb(217,214,198);
}

aside a  {
	text-decoration: underline;
}

aside a:link  {
	color: $background-color;
}

aside a:visited  {
	color: $background-color;
	/* normally I would change the link and visited text colors so that the user knew they had explored a certain link. in this case I'm making them the same consciously */
}

aside a:hover  {
	color: rgb(93,40,0);
	background-color: rgb(217,214,198);
}
